h1 {
  text-align: center;
  color: red;
}
/* * {
  color: red;
} */
/* p {
  color: #f00;
  word-spacing: 20px;
  line-height: 50px;
  text-indent: 40px;
} */
a[title="google"] {
  text-decoration: none;
  color: green;
}
#id_selector {
  color: green;
}
p.class_selector {
  color: brown;
  line-height: 30px;
  word-spacing: 40px;
  text-indent: 50px;
}
p a {
  color: red;
}
p.child > a {
  color: green;
}
/* Pseudo Selector */
a:link {
  color: red;
}
a:hover {
  color: green;
}
a:active {
  color: yellow;
}
a:visited {
  color: pink;
}
div:target {
  color: red;
  border: 1px solid black;
}
/* Student Registration */
body {
  background-color: grey;
}
form {
  width: 80%;
  margin: auto;
}
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 5px;
}
input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover {
  background-color: yellow;
  opacity: 20;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border: 4px solid;
}
#dob {
  width: 90%;
}
div#dob select {
  width: 30%;
  height: 30px;
  outline: none;
}
input[type="radio"]:checked + label {
  color: yellow;
  font-weight: bold;
}
input[type="checkbox"]:checked + label {
  color: yellow;
  font-weight: bold;
}
input[type="checkbox"]:disabled + label {
  color: #fff;
}
#fieldset p {
  text-indent: 50px;
}
ul li {
  margin-left: 50px;
  line-height: 40px;
}
li:first-child {
  background-color: red;
  width: 80%;
}
li:last-child {
  background-color: green;
  width: 80%;
}
li:nth-child(2) {
  background-color: yellow;
  width: 80%;
}
p:empty {
  background-color: #60708b;
  height: 20px;
}
.thankyou {
  text-align: center;
}
.borderone {
  border: 1px dotted #f00;
}
.bordertwo {
  border-left: 4px solid yellow;
}
.borderstyle {
  border-style: double;
}
.mix {
  border-style: solid dotted double dashed;
}
.bwidth {
  border-width: 2px 6px 10px 15px;
  border-style: solid;
}
/* Margins */
.marginone {
  margin: 15px;
  border: 1px solid black;
}
.margintwo {
  margin: 10px 20px;
  border: 1px solid red;
}
.marginthree {
  margin: 5px 15px 30px;
  border: 1px solid yellow;
}
.marginfour {
  margin-left: 40px;
  border: 1px solid black;
}
/* Padding */
.padding {
  border: 1px solid red;
  padding-top: 50px;
}
/* Layout */
.google {
  border: 1px solid red;
  width: 400px;
  display: inline-block;
}
.block {
  border: 1px solid black;
  width: 400px;
  display: inline-block;
}
